#thermostat{
    height: 50%;
    position: absolute;
    width: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#white-space{
  background-color: white;
  height: 95%;
  width: 80%;
  display: flex;
  align-items: flex-end;
}

#red-bar{
  background-color: red;
  height: 1%;
  width: 100%;
}
